*{
    margin:0;
    padding:0;
    font-family: 'Times New Roman';
    scroll-behavior:smooth;
}
#nv{
    width:100%;
    height:100vh;
    background-color:#000;
    line-height:30px;

}
nav ul{
    float:right;
    margin-right: 4px;
    list-style-type:none;
}
nav{
    width:100%;
    height:80px;
    background-color: #000;
    line-height: 30px;
    top:0;
    transition: top 0.3s;

}
a:hover {
color:#000;
background:#2196f3;
box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3, 0 0 80px #2196f3;
transition-delay:0.1s ;
}
a span:nth-child(1){
    top:0;
    left:100%;
    width:100%;
    height:2px;
    background:linear-gradient(90 deg,transparent,#2196f3);
    
}
a span{
    position:absolute;
    display:block;

}
nav ul li{
    list-style-type: none;
    display: inline-block;
    transition:0.4s;

}
nav ul li a{
    text-decoration: none;
    color:#fff;
    padding:6px;
}
section{
    color:#000;
    margin-bottom: 10px;
    padding:10px;
    background-color:pink;
    border-radius: 30px;

}
h2{
    color: blue;
    font-family:var(--headerFont);

    text-decoration: underline;
    
}
progress{
    width:50%;
    height:30px;
    color: blue;
    background: #efefef;
    margin:2px;
    padding:4px;

}
progress::-webkit-progress-bar{
    background:#efefef;
}
progress::-webkit-progress-value{
    background:blue;

}
progress::-moz-progress-bar{
    color:#f3fb6b;
    background: #efefef;
}
form{
margin-top: 0;
}
input[type=text]{
    margin:8px 10px;
    box-sizing: 10px;
    width:50%;
    position:justify;
    border:2px;
    padding:10px;
    height:20px;
    border-radius:12px;
}
textarea{
    height:50px;
    width:50%;
}
img{
    align-items:center;
    border-radius: 50%;
    height:150px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    

}